* {
    font-family: 'Roboto';
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 8px;
}

.left-links {
    color: #F9FAF8;
    font-size: 24px;
}

.header {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
}

.header-top {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}


.rolex {
    width: 150px;
    height: 150px;
    flex: 1;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.info-label {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 16px
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-bot {
    display: flex;
    padding: 36px;
    justify-content: space-between;
}

.bot-title {
    font-size: 36px;
    font-weight:bolder;
    color: #F9FAF8;
}

.bot-subtext, a {
    font-size: 18px;
    color: #E5E7EB;
}

.left-side {
    flex: 1;
}

.info-img {
    width: 100px;
    height: 100px;
    border-color: #3882F6;
    border-style: solid;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-container {
    display: flex;
    justify-content: center;
    padding: 48px;
    gap: 20px
}

.info {
    max-width: 100px;
}

.quote-container {
    padding: 50px 125px 50px 125px;
    background-color: #E5E7EB;
}

.quote {
    text-align: center;
}

.quoter {
    text-align: end;
    font-weight: bold;
    font-size: 16px;
}

.action {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.action-box {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    padding: 30px;
    gap: 15px;
}


.left-action {
    flex: 2;
}

.action-subtext {
    color: #E5E7EB;
}

.action-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
}


.footer {
  display: flex;
  justify-content: center;
  padding: 16px;
  background-color: #1F2937;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882F6;
    color: white;
}

.action-button {
    border-color: white;
}

.header-button {
    border-style: none;
}

.footer-txt {
    color: white;
}



