ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 8px
}

.header {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 5px;

}
body {
    display: flex;
    flex-direction: column;
}

.header-bot {
    display: flex;
    padding: 36px;
}

.left-side {
    flex: 1;
}

